body {
    background-color: #ecf0f1;
}

#content {
    background-color: #ecf0f1;
    padding: 25px;
}

#footer {
    padding : 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

#footer ul {
    list-style-type: none;
    padding: 0;
}
.form-control{
	width:20%;
	margin-left: 40%;
	margin-bottom: 10px;
}
form{
	text-align: center;
}
